*{
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../src/assets/img/estrrado.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  background-attachment: fixed;
}
